<html>

<head>
  <title> Alpha writing services </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link href="/static/styles.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Alpha</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/logout">Logout</a></li>
          <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="page-title col-md-offset-1 col-md-10">
      <p>Project Information</p>
      <hr />
    </div>
    <form method="POST">
      <div class="col-md-offset-1 col-md-6">
        {% csrf_token %}
        <div class="form-group">
          <label for="project-title">Project Title</label>
          <input type="text" class="form-control" id="project-title" name="project-title" required>
        </div>
        <div class="form-group">
          <label for="instructions">Instructions</label>
          <textarea class="form-control" id="instructions" name="instructions"> </textarea>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input type="datetime-local" class="form-control" id="deadline" name="deadline" required>
        </div>
        <div class="form-group">
          <label for="project-status">Project Status</label>
          <select class="form-control" id="project-status" name="project-status" required>
          <!--<input type="text" class="form-control" id="project-status" name="project-status" required>-->
          {% for choice in status_choices%}
            <option value="{{choice.0}}">{{choice.1}}</option>
          {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="pages">No of pages</label>
          <input type="text" class="form-control" id="pages" name="pages" required>
        </div>
        <div class="form-group">
          <label for="budget">Estimated Budget</label>
          <input type="text" class="form-control" id="budget" name="budget" required>
        </div>
        <div class="form-group">
          <label for="user">Customer Email id</label>
          <select class="form-control" id="user" name="user" required>
          <!--<input type="text" class="form-control" id="assignee" name="assignee" required>-->
          {%for customer in customer_list%}
            <option value="{{customer.email}}">{{customer.email}}</option>
          {%endfor%}
          </select>
          <!--<input type="text" class="form-control" id="user" name="user" required>-->
          <a href="#">Go to profile</a>
        </div>
        <div class="form-group">
          <label for="assignment-type">Assignment Type</label>
          <select class="form-control" id="assignment-type" name="assignment-type" required>
          <!--<input type="text" class="form-control" id="assignment-type" name="assignment-type">-->
          {% for choice in assignment_choices%}
          <option value="{{choice.0}}">{{choice.1}}</option>
          {%endfor%}
          </select>
        </div>
        <div class="form-group">
          <label for="discipline">Discipline</label>
          <input type="text" class="form-control" id="discipline" name="discipline">
        </div>
        <button class="btn btn-primary input-submit">Submit</button>
        <br />
        <br />
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="assignee">Assignee</label>
          <select class="form-control" id="assignee" name="assignee" required>
          <!--<input type="text" class="form-control" id="assignee" name="assignee" required>-->
          {%for agent in agents_list%}
            <option value="{{agent.username}}">{{agent.username}}</option>
          {%endfor%}
          </select>
        </div>
      </div>
    </form>
  </div>
</body>

</html>